@model ErrorModalCenterModel

<div id="errorModalCenter" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-confirm modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fas fa-times" data-bs-dismiss="modal"></i>
                </div>                
                <h4 class="modal-title w-100 text-danger">Errore</h4>    
            </div>
            <div class="modal-body">
                <p class="text-center text-danger" id="errorMessage">@Model.ErrorMessage</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>