@model SuccessModalModel

<div id="successModal" class="modal fade modal-success" tabindex="-1">
    <div class="modal-dialog modal-confirm modal-center modal-success">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-success">
                    <i class="fas fa-check"></i> <!-- Icona di successo -->
                </div>                
                <h4 class="modal-title w-100 text-success">Successo</h4>    
            </div>
            <div class="modal-body">
                <p class="text-center text-success" id="errorMessage">@Model.SuccessMessage</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success-custom btn-block" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>